@font-face{font-family:FangZheng;src:url(font/FangZheng.eot);
	src:url(font/FangZheng.eot?#iefix) format('embedded-opentype'),
	url('font/FangZheng.woff') format('woff'),
	url(font/FangZheng.ttf) format('truetype'),
	url('font/FangZheng.svg#butler') format('svg')}
*{margin:0;padding:0;}
*,body {
   font:12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
}
ul,li,ol,dl,dt,dd,p,h1,h2,h3,h4,h5,h6 {margin:0;padding:0;font-weight:normal; font-size:12px;}
a{text-decoration:none;color:#444;}
li{list-style: none;}
.clearfix{zoom:1;}
.clearfix:after{content:"";display:block;clear:both;}
.iconfont{vertical-align:middle;}
strong,b{font-weight:normal;}
body{font-size:12px;background:#f2f2f2;}
input{background:none;outline:none;border:none;text-indent: 8px;}
input[type="radio"]{display:inline-block;vertical-align:middle;}
textarea{padding:10px;box-sizing:border-box;outline:none;resize:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
dl{margin-bottom:0 !important;}
dt{font-weight:normal !important;}
button,input{outline:none;}
.hauto{height:auto;}
.middle{vertical-align:middle;display:inline-block;}
.wp10{width:10%;}
.wp20{width:20%;}
.wp30{width:30%;}
.wp70{width:70%;}
.wp90{width:90%;}
.wp100{width:100%;}
.hp100{height:100%;}
.hp90{height:90%;}
.w22{width:22px;}
.w70{width:70px;}
.auto{width: 100%;overflow-x:auto;}
.fff *{color:#fff !important;}
.inline{display:inline-block;}
.block{display:block;}
.relative{position:relative;}
.fl{float:left;}
.fr{float:right;}
.tc{text-align:center;}
.tl{text-align:left;}
.tr{text-align:right;}
.w-table{display:table;width:100%;height:100%;}
.w-table-cell{display:table-cell;vertical-align: middle;}
.middle{display:inline-block;vertical-align:middle;}
.ml4{margin-left:4px;}
.mr4{margin-right:4px;}
.m10{margin:10px;}
.mt4{margin-top:4px;}
.mt10{margin-top:10px;}
.mt30{margin-top:30px;}
.mrt40{margin-top:40px;}
.bgf{background:#fff;}
.bgf2{background:#f2f2f2;}
.borr0{border-right:1px solid #2c3042;}
.borl0{border-left:1px solid #5b5e72;}
.bort0{border-top:1px solid #4d5166;}
.bore5{border:1px solid #e5e5e5;}
.pd0{padding:0px !important;}
.pd10{padding:10px !important;}
.pd20{padding:20px !important;}
.pdlr20{padding-left:20px;padding-right:20px;}
.p_6{ padding-right:6px;}
.radius10{border-radius:10px;}
.no-data{position:absolute;left:0;top:50%;margin-top:-30px;color:#fff;font-size:16px;width:100%;text-align:center;display:none;}
.no-data.active{display:block;}
.c_both{ clear:both;}
.pd_fh{ padding:20px 0 0 20px;}
.pd_del{ padding:20px 20px 0 0 ;}
.f_14{ font-size:14px;}
.f-14{font-size: 14px}
.f-16{font-size: 16px}
.f-18{font-size: 18px !important;}
.f-20{font-size: 20px !important;}
.f-30{font-size:30px !important;}
.c6{color: #666}
.common-col{color:#38cecb !important;}
.style-btn{background:-webkit-linear-gradient(to right, #38ceca, #38cea3) !important;background:linear-gradient(to right, #38ceca, #38cea3) !important;color:#fff !important;border:none;}
.style-btn:active{background:-webkit-linear-gradient(to right, #21b4b1, #1597aa) !important;background:linear-gradient(to right, #21b4b1, #1597aa) !important;color:#fff !important;border:none;}
.style:active{background: -webkit-linear-gradient(to right, #38ceca, #38cea3) !important;background: linear-gradient(to right, #38ceca, #38cea3) !important;color: #fff !important;}
.not-complete{background:#ccc}
.icon-complete{width:76px;height:76px;display:inline-block;background:url(../img/complete.png) no-repeat center;background-size:contain;}
.w200{width:200px;}
.ellipsis{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
/*header*/
.main-header{position:absolute;z-index:10;height:50px;line-height:50px;background:url(../img/head-bg.png) repeat-x center;width:100%}
.main-header .pd-left,.main-header .pd-right{line-height:50px}
.main-header .pd-left{padding-left:15px;padding-right:15px;margin:2px;line-height:46px;}
.main-header .pd-left:hover,.main-header .pd-left:active{background:#057e79;}
.main-header .pd-left span{font-size:14px;line-height: 22px;}
.main-header .pd-right{margin-right:20px;cursor:pointer;}
.main-header .pd-left i.iconfont{margin-right:8px;}
.main-header h2{position:absolute;left:50%;width:200px;margin-left:-100px;font-size:18px;text-align:center;color:#fff;line-height:50px}

/*content*/
.main-content{position:relative;padding:60px 10px 10px;}
.main-content .main-left,.cp-main .main-right{padding:20px;display:inline-block;position: relative}
.main-content .pd-none{padding:0}
.main-content .main-left{width:268px;height:100%;background:#fff;border-radius:10px;position:relative;}
.main-content .main-right{position:absolute;left:292px;top:60px;right:10px;bottom:10px;padding:20px;background:#fff;border-radius:10px}
.main-content .order-ziti{/*position: absolute;width: 100%;left: 0;top: 0;*/height:95%;}
/*单选框样式*/
input[type="radio"].style-input,input[type="checkbox"].style-input{appearance:none;-webkit-appearance:none;width: 22px;height: 22px;background-color: #fff;border: 1px solid #cdcdcd;-webkit-border-radius: 50%;border-radius: 50%;vertical-align: middle;position:relative;outline: none!important}
input[type="radio"].style-input:checked,input[type="checkbox"].style-input:checked{background-color:#38cecb;border-color:#38cecb;}
input[type="radio"].style-input:checked:after,input[type="checkbox"].style-input:checked:after{content: '';position: absolute;left: 4px;top: 4px;width: 14px;height: 7px;border-left: 2px solid #fff;border-bottom: 2px solid #fff;-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
/*弹框提示*/
.prompt{position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.1);z-index:10;}
.prompt .prompt-cont{position:absolute;left:50%;top:50%;margin-left:-130px;margin-top:-150px;background:#fff;border-radius:10px;padding:20px;min-width:260px;}

.prompt .prompt-cont *{font-size:16px;}
.prompt .prompt-cont p{color:#777;line-height: 40px;margin-bottom:20px;}
.prompt-btn{display:block;line-height: 36px;border-radius:20px;border:1px solid #38cecb;margin:0 auto 10px;}
.prompt-btn.sure{background:#38cecb;color:#fff;}
.prompt-btn.cancel{background:#fff;color:#38cecb;}
.pro-img,.got-img{width:76px;height:68px;display:inline-block;}
.got-img{background:url(../img/got.png) no-repeat center;}
.pro-img{background:url(../img/icon-del.png) no-repeat center;background-size:contain;}
.prompt-close{width:30px;height:30px;display:inline-block;position:absolute;right:10px;top:10px;z-index:2;line-height:30px;}
.prompt .prompt-cont .icon-quxiao{font-size:24px;color:#ccc;}
.prompt .prompt-cont input{border:1px solid #e3e3e3;line-height:34px;margin-bottom:22px;margin-top:30px;width:268px;height:34px;}
/*member_list*/
/*#header{height:50px;line-height:50px; background:url(../img/head-bg.png) repeat-x center;width:100%;}
#header h2{font-size:20px; margin:0 auto; color:#FFF; text-align:center; padding-top:18px;}*/
/*#left_relative {position: absolute;left: 30px;top: 62px; width:268px;}*/
/*#right_relative {position: absolute;left: 310px;top: 62px;right:16px;}
*/
.left_relative .left_box{height:100%;border-radius:10px;border:1px solid #e5e5e5; background:#fff; overflow:hidden;}
.left_relative .left_del{ width:231px; height:407px; background:url(../img/pay_list.png) no-repeat; margin:20px auto 0;}
.left_relative .left_del .pay_sel{ height:64px; clear:both; width:100%;}
.left_relative .left_box h3{ padding:25px 0 12px 20px; font-size:18px;color:#666;}

.mem_list{ width:100%; padding:10px 0 0;}
.mem_list .mem_row{ /*width:96%;*/ margin:0 auto; padding:12px 0 12px 10px;box-shadow: 0 5px 6px #edf4f4;}
.mem_list .mem_row.active{background:#d7f3f2;}
.mem_list .mem_row .tel{ font-size:14px; padding:12px 0 0 15px; width:30%; text-align:left;}
/*.mem_list .mem_bg{ width:100%; background:url(../img/mem_bg.png) repeat-x; height:17px; clear:both;}*/
.order-ziti .active{background:#d7f3f2;}

/*toast*/
.toast-tips {padding: 16px;box-sizing: border-box;border-radius: 4px;text-align: center;background: rgba(0,0,0,0.6);color: #fff;position: fixed;left: 50%;top: 30%;margin-left: -1.95rem;z-index: 10;}
.toast-tips span{font-size:16px;}

/*公用*/
.right-order-status *{font-size:16px;color:#666;}
.head-close{margin-right:14px;padding: 2px 6px;background: #fff;display: inline-block;}
.head-close:active{background:#ecf3f3;}
.left-bottom-btn{position:absolute;left:0;bottom:5%;text-align:center;width:100%;}
.left-bottom-btn a{width:218px;height:40px;border:1px solid #38cecb;display:inline-block;text-align:center;line-height:40px;font-size:16px;color:#38cecb;border-radius:4px;}
.cuttitle{display:inline-block; width: 100px; height:25px; overflow:  hidden; white-space: nowrap; -o-text-overflow: ellipsis; text-overflow:  ellipsis;}


/*提示*/
.notifyjs-corner{height:50px;overflow:hidden;}
/*active*/
.btn-active:hover,.btn-active:active{background:#38cecb;color:#fff;}


#LODOP_OB{position:absolute;}
