html,body{height:100%;}

.header{height:50px;line-height:50px; background:url(../img/head-bg.png) repeat-x center;padding-left:30px; box-sizing:border-box;width:100%;padding-right:300px;position:absolute;left:0;top:0;z-index:3;}
.header .fl.btn-nav{color:#fff;line-height: 50px;font-size:16px;cursor:pointer;}
.header .fl .iconfont{font-size:18px;margin-right:10px;}
.header .fr span{max-width:310px;min-width:260px; padding:0 20px;line-height:32px;background:#fff;border-radius:15px;display:inline-block;margin-top:9px;margin-right:48px;}
.header .fr span i.iconfont{color:#b8b8b8;}
.header .fr span i.iconfont.icon-search-cancel{color:#d5d5d5;font-size:18px;line-height: inherit;}
.header .fr input{height:32px;}
.w-slide-nav{position:absolute;height:100%;left:-230px;top:0;width:200px;background:#38cecb;z-index:2;padding-top:70px;box-shadow:3px 0 3px #ddd;}
.w-slide-nav *{color:#fff;}
.w-slide-nav i.iconfont{font-size:26px;margin-right:6px;}
.w-slide-nav li{line-height:50px;padding-left:30px;}
.w-slide-nav li.active{background:#0eaca5;}
.w-slide-nav li span{font-size:14px;}
.btn-signOut{position:absolute;bottom:60px;left:0;width:100%;}
.btn-signOut a{display:inline-block;font-size:16px;width:150px;height:40px;line-height:40px;border:1px solid #fff;color:#fff;border-radius:4px;cursor:pointer;}
.btn-signOut a:hover,.btn-signOut a:active{background: #fff;color: #38cecb;}
.main{width:100%;box-sizing:border-box;padding:60px 290px 10px 10px;}
.w-nav{margin-top:10px !important;margin-bottom:18px !important;}
.w-nav li{float:left;padding: 0 14px;line-height: 36px;height:38px;width:100px;text-align:center;overflow:hidden;border: 1px solid #38cecb;border-radius: 40px;margin-right: 14px;margin-bottom: 16px;box-shadow:0 4px 6px #e0f9f8;}
.w-nav li a{color:#38cecb;font-size:16px;}
.w-nav li.active,.w-nav li:hover{background:#38cecb;}
.w-nav li.active a,.w-nav li:hover a{color:#fff;}
.w-menu-items{overflow:hidden;}
.w-menu-items ul{margin-left:-11px;}
.w-menu-items li{position: relative;float: left;padding: 0;max-width:285px;padding: 0 10px 26px 11px;}
/*.w-menu-items li:nth-child(3n){margin-right:0;}*/
.w-menu-items li a{display:block;background: #fff;border-radius: 4px;border:1px solid #e3e3e3;box-shadow: 0 2px 10px #d9d9d9;height: 112px;}
.w-menu-items li a:hover,.w-menu-items li a:active{background:#e9f7f7;}
.w-menu-items li div.goods-desc{width:100%;padding-left:90px;box-sizing:border-box;}
.w-menu-items li  img{width:80px;display:inline-block;vertical-align:top;border-radius:4px 0 0 4px;position:absolute;left:11px;top:0;}
.w-menu-items li h3{font-size:16px;color:#444;width: 90%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:10px;margin-bottom:6px;}
.w-menu-items li span{color:#888;font-size:12px;display:block;}
.w-menu-items li p{font-size:14px;color:#666;}
.icon-discount{width:42px;height:40px;display:inline-block;background:url(../img/discount.png) no-repeat center;background-size:contain;position:absolute;right:10px;top:0;}


/*右侧结算部分*/
.swipeleft{transform:translateX(-15%);-webkit-transform:translateX(-15%);}
.swipeleft .btn-del-sel{right:-47px;}
.right-settle{height:100%;padding-bottom:10px;position:absolute;right:0;top:0px;z-index:4;min-width:277px;}
.settlement{background:#3e4259;height:100%;position:relative;}
.settle-head{background:#2c3042;padding:30px 0;position:absolute;left:0;top:0;width:100%;}
.settle-head *{color:#fff;}
.settle-head img{width:60px;border:3px solid rgba(255,255,255,0.2);border-radius:50%;margin-left:10%;float:left;}
.settle-head .cashier-infor{float:left;margin-left:12px;margin-top:10px;}
.settle-head .cashier-infor h3{font-size:16px;margin-bottom:6px;}
.settle-head .cashier-infor b{display:inline-block;font-size:12px;}
.settle-head .fr{margin-right:18px;margin-top:12px;}
.settle-head .fr span{display:block;text-align:center;}
.right-center{background:#3e4259;height:100%;padding-top:120px;padding-bottom:40px;}
.right-center .right-nav ul li{float:left;width:50%;box-sizing:border-box;text-align:center;line-height:50px;position:relative;}
.right-center .right-nav ul li a:hover,.right-center .right-nav ul li a:active{background:#282b3c;}
.right-center .right-nav ul li b.iconfont{position:absolute;right:10px;top:0;color:red !important;}
.right-center .right-nav ul li a{font-size:14px;display: inline-block;line-height: 50px;width: 100%;}
.right-center .right-nav i.iconfont{font-size:20px;margin-right:10px;}
.right-nav ul{border-bottom:1px solid #2c3042;}
.w-menu-sel{height:63%;}
.w-menu-sel ul{padding-top:22px;}
.w-menu-sel ul li{position:relative;transition:1s;}
.w-menu-sel ul li .goods-cont{background:#fff;width:257px;border-radius:6px;margin:auto;position:relative;overflow: hidden;height:100px;}
.w-menu-sel ul li img{border-radius:6px 0 0 6px;position:absolute;left:0;top:0;}
.w-menu-sel ul li .goods-text{display:inline-block;width:100%;box-sizing:border-box;padding:15px 10px 0 90px;}
.w-menu-sel ul li .goods-text h5{font-size:16px;height:18px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.w-menu-sel ul li .num-module{position: absolute;right: 0;top: 32px;}
.nums{margin-top:10px;margin-bottom:10px;}
.nums em.fl{color:#888;}
.nums span{width:22px;height:22px;display:inline-block;border-radius:50%;cursor:pointer; text-align:center;font-size:12px;border:1px solid #38cecb;}
.nums span.add{background:#38cecb;color:#fff;}
.nums span.reduce{color:#38cecb;}
.num-btn{padding-top:8px;padding-bottom:8px;display:inline-block;}
.num-btn.left{padding-left:8px;}
.num-btn.right{padding-right:8px;}
.nums input{display:inline-block;max-width:40px;height: 20px;text-align:center;font-size:14px;text-indent:0;}
.btn-del-sel{display:inline-block;height:100%;width:60px;background:#e7475e;position:absolute;right:-60px;top:0;text-align:center;color:#fff;}
.btn-del-sel i.iconfont{font-size:20px;}

.right-bottom{width: 100%;height:140px;background:#fff;position:absolute;bottom:0;left:0;}

.right-bottom a.btn-settlement{width:100%;height:44px;display:block;background:#38cecb;color:#fff;text-align:center;line-height: 44px;font-size:16px;position:absolute;left:0;bottom:0;}
.right-bottom a.btn-settlement:hover,.right-bottom a.btn-settlement:active{background:#06a79f;}
.right-bottom a.btn-settlement span{font-size:16px;}
.right-bottom a.btn-settlement .iconfont{font-size:22px;margin-left:4px;}
.menu-all{padding:12px 15px 8px;}
.menu-all .fl span{font-size:14px;}
.menu-all .fr *{font-size:16px;}
.menu-all .fr em{color:#38cecb;}
.btn-guadan,.btn-member{display:inline-block;width: 88px;line-height: 28px;border:1px solid #38cecb;text-align:center;color:#38cecb;border-radius:36px;margin-right:15px;font-size:14px;}
.btn-emlinate{display:inline-block;width:40px;height:40px;background:#38cecb;border-radius:50%;line-height:20px;color:#fff;text-align:center;box-shadow:0 6px 6px #123137;margin-right:20px;}
.btn-emlinate i.iconfont{font-size:26px;}
.btn-emlinate:hover,.btn-emlinate:active{transform:scale(1.3);}
.emlinate{position:absolute;bottom:150px;right:0;}
.drap-down{position:absolute;left:0;bottom:0;width:100%;padding-bottom:10px;background:#fff;}
.drap-down a{padding:20px;display:inline-block;}
.drap-down a i.iconfont{color:#38cecb;font-size:30px;}

/*查无商品*/
.nodata{position:absolute;left:50%;top:50%;margin-left:-35px;margin-top:-45px;}
.nodata b{display:inline-block;width:60px;height:56px;background:url(../img/icon-nogood.png) no-repeat center;background-size:contain;}
.nodata span{display:block;margin-top:10px;color:#888;font-size:14px;}

/*弹框提示*/
.prompt-member{position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.1);z-index:10;}
.prompt-member .prompt-cont{position:absolute;left:30%;top:50%;right:30%;margin-left:-130px;margin-top:-150px;background:#fff;border-radius:10px;padding:20px;min-width:260px;}

.prompt-member .prompt-cont *{font-size:16px;}
.prompt-member .prompt-cont p{color:#777;line-height: 40px;margin-bottom:20px;}
.prompt-member .prompt-cont .icon-quxiao{font-size:24px;color:#ccc;}
.prompt-member .t_search{margin:auto;}

.member-tips{padding-top: 5px;padding-left: 15px;}